/*-- scss:defaults --*/
// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

// fonts
$josefin: "Josefin Sans", sans-serif;

// colors
$light-pink : #FFC4EB;
$dark-purple : #A0185A;
$butterscotch : #E6983F;
$pearl : #E1DABD;
$olivine : #ABC789;


//define quarto variables
$body-bg: $pearl;
$navbar-bg: #5FAD56;
$footer-bg: $light-pink;
$navbar-fg: $dark-purple;
$navbar-hl: $butterscotch;

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;   // or 700
}

h1,h2,h3,h4 {
  font-family: $josefin;
}

h1, h2 {
  letter-spacing: 5px;
  font-weight: 700;
  
}

.title {
  color : $dark-purple;
}

.center-text {
  text-align: center;
}

.orange-text{
  color: $butterscotch;
}

.navbar-brand img{
  max-height: 80px;
  width: auto;
}
